@charset "utf-8";
body{
  width:100%;
 font-family:'Hiragino Kaku Gothic Pro W6','Hiragino Kaku Gothic ProN',sans-serif;
 color:#6B504F;
 background-color:#FEF6E8;
 margin:0 0;
}

#first_action,#concept,#menu,#galley
{
  margin-bottom:80px;
}

.warapper{
  overflow: hidden;
}
.header{
  height:800px;
}

.header_logo{
    margin:10px 5px 0 5px;
}
#header_navi{
  display:block;
  width: 100%;
  display: block;
  position: absolute;
  top:-70px;
  right:100px;
}
.header_menu{
  display:block;
  width:100%;
  margin:10px 30px 0 30px;
  position:relative;
  z-index:999;
}
.header_menu_containner{
 display:flex;
justify-content: flex-end;
 list-style-type: none;
}
.header_menu_list{
  display:block;
  padding:0 20px;
}

.header_menu_list>a{
  font-size: 24px;
  font-weight: bold;
  font-family:'PT Serif';
  color:#6B504F;
  text-decoration: none;
}
.header_menu_list>a:hover{
  color:#9DBBB4;
  transition:0.3s;
}
.header_slider_warp{
  position:relative;
   /*bottom:100px;*/
}
.header_slider_warp img{
  width:100%;
  position:absolute;
}
.main{
  margin-top:400px;
}
/*first_action*/
#first_action{
  display: flex;
  justify-content:center;

}
.first_action_p{
  text-align: center;
  line-height:4;
}

/*グリーン装飾*/
#first_action::before,
#first_action::after{
  display:inline-block;
  content:'';
  width:50px;
  height:40px;
  background-image:url('../image/green.png');
  background-size:contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
#first_action::after{
  transform: rotateY(180deg);
}

.contents{
  text-align:center;
  color:#9DBBB4;
}
.contents_heading{
  margin:0px;
  font-family: 'PT Serif';
  font-weight:400;
  font-size:84px;
  line-height:0.8;
}
.contents_caption{
  font-size:14px;
}

.contents_inner{
  display: flex;
  justify-content: center;
  margin-top:30px;
}

.concept_discription,
.menu_discription
{
  width:470px;
  line-height:2.4;
}

.concept_discription_p,
.menu_discription_p{
  line-height:2.4;
}

.concept_discription{
  margin-right:86px;
}
.menu_discription{
  margin-left:50px;
}

.same_btn{
  margin-right: 15px;
  padding:15px 109px;
  font-family: 'PT Serif';
  font-size:14px;
  border:1px solid #6B504F;
  color:#6B504F;
  text-decoration:none;
  position:relative;
  bottom:80px;
}
.same_btn:hover{
  text-decoration:underline;

}
/*ギャラリー*/
#galley{
  padding-top:36px;
  padding-bottom:105px;
  background-color: inherit;
  background-image:url('../image/beauty_bg.png');
  background-size: cover;
}

.contents_heading.flag::before,
.contents_heading.flag::after{
  display:inline-block;
  content:'';
  width:364px;
  height:140px;
  background-image:url('../image/flag.png');
  background-size:contain;
  background-repeat:no-repeat;
   vertical-align: middle;
}

.flag::after{
  transform: rotateY(-180deg);
}

.galley_cap{
  position: relative;
  bottom:50px;
}
.galley_contents_inner{
  margin-top:80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galley_contents_image{
  width:300px;
  height: 400px;
  margin:0 90px 10px 90px;
  text-align:center;
  background:#ffffff;
  display: block;
  filter:drop-shadow(1px 1px 1px rgba(0 ,0,0,0.6));
  cursor:pointer;
}
.galley_contents_image:nth-child(2){
  margin-left: 0;
  margin-right: 0;
}


.galley_caption{
  display:block;
  position:relative;
  left:103px;
  bottom: 36px;
}

.galley_btn{
  color:#6B504F;
  text-decoration:none;
}
.galley_btn:hover{
  text-decoration:underline;
}

/*ブログ*/

#blog{
  margin-bottom:150px;
}
.blog_group{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.blog_group_contents{
  width:280px;

}

.blog_group_contents:nth-child(2){
  margin-left: 120px;
  margin-right:120px;
  position: relative;
  top:50px;
}
.blog_group_contents:nth-child(3){
  position: relative;
  top:100px;
}


.blog_time{
  font-family:'PT Serif';
  position:relative;
  top:35px;
  left:-35px;
}
.blog_contents_inner{
    text-decoration: none;
}

.blog_contents_inner:hover{
  text-decoration: underline #6B504F;
}
.blog_heading,
.blog_discription{
  color:#6B504F;
  font-weight: bold;
}
.blog_discription{
  margin-left:0;
}
.blog_discription>p{
  margin-top: 5px;
}
/*アクセス*/
#access{
  background-color: inherit;
  background-image:url('../image/beauty_bg.png');
  background-size:cover;
  background-repeat:no-repeat;
}
.position_top{
  position: relative;
  bottom:40px;
}
.access_map_contents{
  display:flex;
  justify-content:center;

}
.access_map{
  margin-right:60px;
}
.access_map_discription{
  font-size:14px;
  padding-bottom:100px;
}

.map_logo_right{
  position: relative;
  left:290px;
}
/*フッター*/
.copy{
  text-align: center;
}

/*pc1024px~*/
@media screen and (max-width:1024px){
  .header{
    height:500px;
  }

  .sp_margin{
      margin-left:15px;
    margin-right:5px;

  }
  .same_btn{
    bottom:0;
  }

  .contents_heading.flag::before,
  .contents_heading.flag::after{
    width:200px;
    height:100px;
  }
  .galley_cap{
    bottom:10px;
  }
  .galley_contents_inner {
    width: calc(100%/1);
    justify-content: flex-start;
}
.galley_contents_image {
    margin: 0  0 10px 0;
}

}
/*タブレット768px*/
@media screen and (max-width:768px){
  .header{
    height:350px;

  }

#header_navi{
  width:100%;
  height:50px;
  display:none;
  background-color: rgba(254,246,232,0.6);
}

.header_logo{
  position:fixed;
  z-index: 999;
}
  .header_menu{
    display:block;
    height: 50px;
    margin:0 0;
    padding:10px 10px 0 10px;
    background-color:#FEF6E8;
    position:fixed;
    top:0;
      z-index: 998;
  }
/*ハンバーガーメニュ-*/
.header_menu_containner{
justify-content:space-between;
flex-wrap: wrap;
}
 #header_nav_open{
  display:block;
  width:30px;
  height:22px;
  position:fixed;
  top:10px;
  right:5px;
 }

  #header_nav_open span,
  #header_nav_open span::before,
  #header_nav_open span::after{
    content:'';
    width:25px;
    height:3px;
    position:relative;
    transition:all 0.4s;
    background:#6B504F;
    display:block;
    vertical-align: middle;
    z-index:999;
  }
#header_nav_open span::before{
  bottom:-9px;
}
#header_nav_open span::after{
  bottom:-16px;
}

#header_menu_containner{
  display:block;
  position: fixed;
  padding-left:0;
  z-index: 9999;
}
/*ハンバーガーメニュ-アニメーション*/
#header_nav_open.active span{
  transform: translateY(8px)
  rotate(-45deg);
}
#header_nav_open.active span::before {
    transform: translateY(8px)
               rotate(45deg);
    opacity: 0;
}
#header_nav_open.active span::after {
    bottom:-10px;
    transform: translateY(-12px)
                  rotate(90deg);
}
#header_navi.open{
  height:auto;
  display:inline-block;
  z-index:998;
  position: fixed;
  top:50px;
  left: 0px;
}
#header-navi.open:before {
   content: '';
   -webkit-filter: blur(10px);
   -moz-filter: blur(10px);
   -o-filter: blur(10px);
   -ms-filter: blur(10px);
   filter: blur(10px);
   z-index: -1;

}

.header_menu_list {
    width:80px;
    padding:0 10px;
    display:inline-block;
    text-align:center;
    position: relative;
    top: 10px;
    left:20px;
    transform: translate(-50%,-50%);
}

.main{
  margin-top:200px;
  }

.concept_discription_p,
.menu_discription_p
{
  margin-top: 0;
}
.image_illust{
  position:relative;
  top:10px;
}
.contents_heading{
  font-size:64px;
}

.position_left{
  position: relative;
  left:5%;
}

.concept_discription_p,
 .menu_discription_p{
   line-height:2;
 }
.galley_contents_image:nth-child(2){
    margin: 0 10px;
}

.access_map{
  width:100%;
}
.access_map_contents{
  display:block;
}
.access_map_discription{
  margin: 10px 5px 0 5px;

}
}

/*スマホ480px~*/
@media screen and (max-width:480px){
.header_logo{
  width:80px;
}

.main{
  margin-top:10px;
}

#first_action::before{
  position: relative;
  left:30px;
}
#first_action::after{
  position: relative;
  right:30px;
}
.first_action_p{
   padding-left:50px;
  padding-right:50px;
  line-height:2;
}
.contents_inner{
  flex-wrap: wrap;
  margin-left:auto;
  margin-right: auto;
}
.menu_image{
  width:95%;
}
.position_left{
  left:0;
}

.position_left_inner{
 order:2;
}
.same_btn{
  bottom:20px;
  padding:10px 50px;
}

.image_illust{
  width:50%;
}
.contents_heading{
  font-size:48px;
}


.contents_heading.flag::before,
.contents_heading.flag::after{
  width:80px;
  height:50px;
}
.galley_contents_inner {
    justify-content:center;
}
.galley_cap{
  bottom:10px;
}



.blog_group_contents {
  margin-left: 120px;
  margin-right:120px;
}


.map_logo_right{
  left:0;
}
}
