

.slick-initialized .slick-slide{
  height:300px!important;
}

.slick-prev{
left:0!important;
}
.slick-next{
 right:30px!important;
}
.slick-prev,
.slick-next
{
top:65%!important;
z-index:3!important;
}
    .slick-prev:before, .slick-next:before{
      font-size: 50px!important;
      position: relative;
      color: #454545!important;
    }

    .slick-dotted.slick-slider {
        width: 100%!important;
        margin-bottom: 30px!important;

    }
