
body{
  margin:0;

}
ul{
  padding-left:0;
  list-style-type: none;
}
 /*ヘッダーコンテンツ*/
.fv_image{
  margin:0;
}
.fv_image img,
.main_content_article img,
.faq-contents-container img{
  width:100%;
}
 .service{
   position:relative;
   top:-8px;
 }
.order_btn img{
    width:50%;
    position:relative;
    top:5px;
    left:25%;
    right:25%;
}
a.order_btn{
  display:block;
}
.order_btn img:hover{
  opacity: 0.8;
}

/*メインコンテンツ*/
.main{
  width:100%;
}
.main-header{
  font-size:64px;
  text-align: center;
}

.main_content_article  {
  width:80%;
  position:relative;
  margin:0 auto;
}
.main_content_article:first-child{
  margin-top:25px;
}
.main_content_article.other{
  width:100%;
  margin:50px 0;
}
.note img{
  width:10%;
  display:block;
  position:relative;
  left:10px;
  top:150px;
  z-index:2;
}

 /*faqコンテンツ*/

 .faq{
   margin-top:50px;
 }
.faq_header{
  font-size:42px;
  color:#42210b;
  text-align: center;
}

 .faq-contents{
   display:flex;
   justify-content:center;
   margin-top: 0;
    margin-bottom: 0;
 }

 .faq__item{
   display:block;
 }
.faq__item__link{
  height:100px;
  display:block;
}

.faq__item__link img{
  margin-right:0;
}
.faq__item img,
.faq__contents__menu__inner img
{
  height:100px;
  display:block;
}
.faq__contents__menu{
  display:none;
}

img.faq_btn{
  display:block;
  position:relative;
  bottom:60px;
  left:90%;
}

.open{
  transform:rotate(90dedg);
}


.footer{
  width:100%;
  margin-top:150px;
  padding-top:10px;
  height:80px;
  background-color:#367701;
  color:#ffff;

}
.footer-contents{
  text-align:center;
}

/*スマホ*/
@media screen and (max-width:1024px){
  .note img{
    position:relative;
    left:50px;
    top:80px;
    z-index:2;
  }
  .faq_header{
    font-size:32px;
  }

  .faq__item img,
  .faq__contents__menu__inner img
  {
    width:100%;
  }

.faq__item__link{
  bottom:30px;
}
img.faq_btn{
  left:90%;
}
}

@media screen and (max-width:360px){
  .main-header{
    font-size:28px;
  }
.main_content_article{
  width:95%
}

  .note img{
    position:relative;
    top:80px;
    left:0;
    z-index:2;
  }

  .service{
    top:-3px;
    )


  .faq_header{
    font-size:24px;
  }


  img.faq_btn{
    left:90%;
  }

}
